* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1c1c1c;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.header .logo {
  color: #e50914;
  font-size: 24px;
  font-weight: bold;
}

.search-bar {
  display: flex;
  gap: 10px;
}

/* input search */
.search-bar input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 300px;
}

/* bottone del search */
.search-bar button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #e50914;
  color: #fff;
  cursor: pointer;
}

/* scritta bianca nella home prima della ricerca */
.search-prompt {
  color: #fff;
  font-size: 40px;
  text-align: center;
  margin-top: 150px;
}

/* Lista di film */
.movie-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: #333;
}

/* Stile della card del film */
.movie-card {
  position: relative;
  width: 300px;
  height: 450px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
}

/* Stile dell'immagine */
.movie-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: opacity 0.3s ease;
}

/* Nascondo l'immagine al passaggio del mouse */
.movie-card:hover .movie-poster {
  opacity: 0;
}

/* Dettagli del film */
.movie-card h3,
.movie-card p {
  margin: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.movie-card .stars {
  display: flex;
  justify-content: start;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

/* Mostra i dettagli con sfondo nero e testo bianco */
.movie-card:hover {
  background-color: #000;
  color: #fff;
}

.movie-card:hover h3,
.movie-card:hover p,
.movie-card:hover .stars {
  opacity: 1;
}

/* Per centrare verticalmente i dettagli */
.movie-card div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Nessuna immagine disponibile */
.no-poster {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding: 10px;
}